<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{label.menu.show.global.parameter}">Title</title>
    <div th:replace="fragments/header :: header-css"/>

</head>

<body>
<div th:replace="fragments/header :: header"/>

<div id="page-main" class="page-main">
    <h2><span th:text="#{label.menu.show.global.parameter}">Show Global Parameter Page</span></h2>
    <dl class="contents">
        <dt></dt>
        <dd>
            <div class="wrapper clear">
                <div class="pd-left">
                    <div th:replace="fragments/adminMenu :: adminMenu"/>
                </div>

                <div class="pd-right">
                    <div class="title">
                        <span class="left" th:text="#{label.menu.show.global.parameter}">Admin Home Page</span>
                        <span class="right">
                            <a th:href="@{javascript:void(0);}" th:text="#{label.menu.admin}">">Admin Home </a>
                             <span style="color:#000000;" th:utext = "*{#strings.escapeXml(' > > ')}"/>

	         	             <a th:href="@{javascript:void(0);}" th:text="#{label.menu.show.global.parameter}">">Show Global Parameter</a>

	         	         </span>
                    </div>

                    <div class="section">
                        <span style="color:#FF9900;" th:text="#{label.global.parameter.title}"></span><br />
                        <table class="table table-striped">
                            <tr>
                                <td th:text="#{label.number.of.doctor}"></td>
                                <td th:text="${globalParameter.numberOfDoctor}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{label.available.days}"></td>
                                <td th:text="${globalParameter.daysAvailable}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{label.number.of.clinic}"></td>
                                <td th:text="${globalParameter.numberOfClinic}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{label.start.date}"></td>
                                <td th:text="${globalParameter.startDate}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{label.end.date}"></td>
                                <td th:text="${globalParameter.endDate}"></td>
                            </tr>
                        </table>

                    </div>

                </div>
            </div>
        </dd>
    </dl>
    <div class="wrap_bottom"></div>
</div>
</body>

<div th:replace="fragments/footer :: footer"/>

</html>