<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{label.submenu.amend.print.prescription}">Title</title>
    <div th:replace="fragments/header :: header-css"/>

</head>

<body>
<div th:replace="fragments/header :: header"/>

<div id="page-main" class="page-main">
    <h2><span th:text="#{label.submenu.amend.print.prescription}">Edit or Print Prescription</span></h2>
    <dl class="contents">
        <dt></dt>
        <dd>
            <div class="wrapper clear">
                <div class="pd-left">
                    <div th:replace="fragments/doctorMenu :: doctorMenu"/>
                </div>

                <div class="pd-right">
                    <div class="title">
                        <span class="left" th:text="#{label.submenu.amend.print.prescription}">Edit or Print Prescription</span>
                        <span class="right">
                            <a th:href="@{javascript:void(0);}" th:text="#{label.menu.doctor}">">Doctor Home </a>
                            <span style="color:#000000;" th:utext = "*{#strings.escapeXml(' > > ')}"/>
	         	             <a th:href="@{javascript:void(0);}" th:text="#{label.submenu.amend.print.prescription}">">Edit or Print Prescription Page</a>

	         	         </span>
                    </div>
                    <div class="tabbable">
                        <ul class="tabs">
                            <li><a href="#tab1"><span th:text="#{label.submenu.amend.prescription}"/></a></li>
                            <li><a href="#tab2"><span th:text="#{label.submenu.edit.prescription}"/></a></li>
                            <li><a href="#tab3"><span th:text="#{label.submenu.print.prescription}"/></a></li>
                           <!-- <li><a href="#tab4"><span th:text="#{label.submenu.print.demo.prescription}"/></a></li>-->
                        </ul>
                        <div class="tabcontent">
                            <div id="tab1" class="tab">
                                <div th:replace="herbalist/doctor/fragments/editSymptomInputForm :: symptomInput"/>
                            </div>
                            <div id="tab2" class="tab">
                                <div th:replace="herbalist/doctor/fragments/editPrescriptionForm2 :: editPrescriptionInput"/>
                            </div>
                            <div id="tab3" class="tab">
                                <p>
                                    <object data="/doctor/prescription" type="application/pdf" width="100%" height="100%">
                                        <iframe src="/doctor/prescription" width="100%" height="100%" style="border: none;">
                                            This browser does not support PDFs. Please download the PDF to view it: <a href="/doctor/prescription">Download PDF</a>
                                        </iframe>
                                    </object>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
    <div class="wrap_bottom"></div>
</div>
</body>

<div th:replace="fragments/footer :: footer"/>

